body {
  background: black;
}

section {
  color: #a62dd6;
}

h1 {
  color: #047bbb;
}
p {
  color: #a62dd6;
}
h2 {
  color: #007cbe;
}
h3 {
  color: #007cbe;
}
footer {
  color: #a62dd6;
}

.hotpink-header {
  background: rgb(51, 51, 51);
  color: #007cbe;
  box-sizing: border-box;
  width: 300px;
  padding: 15px 15px 15px 15px;
  border-radius: 12px;
  border: 3px dashed rgb(91, 13, 155);
}

.hotpink-header--special {
padding-left: 20px;
}

.main-heading {
  background: rgb(10, 219, 90);
  border: 4px dashed rgb(91, 13, 155);
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  padding-left: 40px;
}

a {
  color: rgb(156, 255, 194);
}

.header-link {
  color: #ffa3af;
}

.header-navigation {
  background: rgb(91, 13, 155);
  height: 15px;
  max-width: 100%;
  padding: 40px;
  border-radius: 8px;
}

.header-navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
}

.header-navigation__link--homepage {
  background: rgb(247, 24, 180);
  color: #ffffff;
  border-radius: 3px;
}

.favourite-heading {
  padding: 16px;
  border: 1px grey solid;
}

.favourite-heading--special {
  border: 1px black dashed;
  border-radius: 8px;
}

.favourite-heading__description {
  color: #92140c;
}

.favourite-heading__title {
  color: #21a179;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.eryk-photo {
  width: 100px;
  height: 100px;
  background: blue;
  border: 3px dashed rgb(91, 13, 155);
  border-radius: 10px;
  position: absolute;
  margin-left: 25%;
  margin-top: 2%;
}

.first-section {
  position: relative;
}
