@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
.hotpink-header {
  background: #333333;
  color: #007cbe;
  box-sizing: border-box;
  width: 300px;
  padding: 15px 15px 15px 15px;
  border-radius: 12px;
  border: 3px dashed #5b0d9b; }
  .hotpink-header__special {
    padding-left: 20px; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: linear-gradient(159deg, #020024 0%, #1e0333 33%, black 57%);
  background-size: cover;
  background-repeat: no-repeat; }

section {
  color: #a62dd6; }

h1 {
  color: #047bbb; }

p {
  color: #a62dd6; }

h2 {
  color: #007cbe; }

h3 {
  color: #007cbe; }

footer {
  color: #a62dd6; }

.stats {
  display: flex;
  flex-direction: row; }

.main-heading {
  background: #0adb5a;
  border: 4px dashed #5b0d9b;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  padding-left: 140px;
  font-family: 'Alumni Sans Inline One', sans-serif;
  font-weight: 100; }

a {
  color: #9cffc2; }

.header-link {
  color: #ffa3af; }

.header {
  background: blue;
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%; }

.header-navigation {
  padding: 16px;
  display: none; }
  .header-navigation__link {
    color: white;
    display: block;
    margin: 0 0 16px; }
  .header-navigation__link--homepage {
    color: greenyellow; }

.header-navigation--open {
  display: block; }

.favourite-heading {
  padding: 16px;
  border: 1px grey solid; }
  .favourite-heading__description {
    color: #92140c; }

.favourite-heading--special {
  border: 1px black dashed;
  border-radius: 8px; }

.favourite-heading__title {
  color: #21a179; }

.main {
  max-width: 1000px;
  margin: 60px auto 0; }

.footer {
  max-width: 1000px;
  margin: 0 auto; }

.photo {
  width: 100px;
  height: 100px;
  background: blue;
  border: 3px dashed #5b0d9b;
  border-radius: 10px; }

.first-section {
  position: relative; }

.list {
  list-style-type: circle; }

.table {
  width: 100%;
  border: 3px solid #5b0d9b;
  text-align: center; }

.klasa-z-js {
  background: #a62dd6; }

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  color: white; }

@media (min-width: 768px) {
  .header-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #5b0d9b;
    height: 15px;
    max-width: 100%;
    padding: 40px;
    border-radius: 8px;
    margin: 5px 5px; }
  .hamburger {
    display: none; }
  .header {
    background: none;
    position: static; } }
